
$logo: '../img/logo.jpg';
$colorLink: #248cec;
$mainWidth: 1160px;
$darkGreyBG: #2a2d32;
$navBorderColor: #181a1d;

@import 'reset';
@import "clearfix";

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  min-width: $mainWidth;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@import "header";
@import "nav";
@import "slider";
@import "feature";
@import "service";
@import "news";
@import "banners";
@import "logos";
@import "links";
@import "footer";
