#nav.default {
  background: $darkGreyBG;
  margin: 0 auto;;
  width: $mainWidth;
  height: 56px;
}
#nav.fixed {
  height: 56px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -1*($mainWidth/2);
  background: $darkGreyBG;
  width: $mainWidth;
  z-index: 9999;
}
.nav__item {
  float: left;
  height: 56px;
  width: 115px;
  border-right: 1px solid $navBorderColor;
  :hover {
    color: #f4b60d;
  }
}
.nav__link {
  display: block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}
.nav__link-active {
  background: $colorLink;
}
.nav__search {
  float: right;
  margin: 8px;
  width: 239px;
  height: 38px;
  border: 1px solid $navBorderColor;
  background: #35383c;
  i {
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    padding-left: 11px;
    color: #5d5f62;
  }
}
.nav__textSearchField {
  width: 189px;
  height: 33px;
  color: #5d5f62;
  background: #35383c;
  border: none;
}
